<section class="container mt-5" *ngIf="!fullProfit && !afterTaxesProfit">
  <h2 class="d-flex justify-content-center">Calculadora de Investimento</h2>
  <form [formGroup]="investmentForms">
    <div class="form-group mt-2">
      <label for="value">Valor Monetário:</label>
      <input class="form-control" type="text" uiInputRestriction [restrictionType]="'float'" id="value" name="value" formControlName="value" required>
    </div>
    <div class="form-group mt-3">
      <label for="term">Prazo em meses:</label>
      <input class="form-control" type="text" uiInputRestriction [restrictionType]="'int'" id="term" name="term" formControlName="term" required>
    </div>
    <button class="btn btn-primary mt-3 calc-btn" [disabled]="investmentForms.invalid || investmentForms.pristine" type="button"
      (click)="calculateInvestiment()">
      Calcular
    </button>
  </form>
</section>


<ng-container *ngIf="fullProfit && afterTaxesProfit">
  <app-result [grossProfit]="fullProfit" [netProfit]="afterTaxesProfit" (resetEvent)="onReset($event)">
  </app-result>
</ng-container>
